.top-menu li:first-child {
  margin-left:55px;
}
header {
  height:55px;
  clear: both ;
  background: cornflowerblue;
}
a {
  text-decoration: none;
  out-line: none;
  color: #fff;
  display: block;
}

.menu-active {
  color: red;
}
