<div style="text-align: center;">
  <h2>{{(course$ | async)?.description}}</h2>
  <div class="lessons-list-container v-h-center-block-parent">
    <div class="nav-bar" style="margin: 20px 0;">
      <button (click)="previous()">Previous Page</button>
      <button (click)="next()">Next Page</button>
    </div>
    <div style="width: 500px;">
    <app-lessons-list [InputOption]="lessons$"></app-lessons-list>
    </div>
    <div class="tool-bar" style="margin-top: 20px;">
      <button>New Lesson</button>
    </div>
  </div>
</div>
